html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}

.navLogo {
  width: 220px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;

  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 8px;
}

.searchInput {
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: lightgray;
  font-size: 15px;
}

.limitedOffer {
  font-size: 30px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: white;
  font-weight: 400;
}

.menuItem::after {
  content: "";
  display: block;
  transform: scaleX(0);
  transform-origin: 100% 0%;
  height: 2px;
  background-color: white;
  transition: all ease 0.3s;
}

.menuItem:hover::after {
  transform: scaleX(1);
}

.slider {
  background: url("https://images.unsplash.com/photo-1531315630201-bb15abeb1653?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1935&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 0.8s ease-in-out;
}

.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: 900;
  z-index: 1;
}

.sliderImg {
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 60px;
  text-align: center;
  font-weight: 500;
  border: 1px solid gray;
  z-index: 1;
}

.buyButton {
  position: absolute;
  border-radius: 5px;
  top: 50%;
  right: 10%;
  color: white;
  background-color: black;
  font-size: 30px;
  font-weight: 900;
  border: 1px solid gray;
  z-index: 1;
  cursor: pointer;
}

.buyButton:hover {
  background-color: white;
  color: black;
  transition: all 0.3s ease;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #1cac78;
}

.sliderItem:nth-child(2) .sliderBg {
  background-color: rgb(80, 21, 158);
}

.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}

.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(179, 41, 184);
}

/* .sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}

.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}

.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}

.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}

.sliderItem:nth-child(5) .sliderPrice {
  color: rgb(124, 115, 80);
} */

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  height: 50px;
  width: 50px;
}

.featureTitle {
  font-style: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 100%;
  height: 100px;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.payment {
  width: 600px;
  height: 600px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

.payTitle {
  font-style: 20px;
  color: rgb(175, 175, 175);
}

label {
  font-size: 14px;
  font-weight: 350;
}

.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

.payInput::placeholder {
  color: rgb(163, 163, 163);
}

.cardIcons {
  display: flex;
}

.cardIcon {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: 0;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

.productImg {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.productTitle {
  font-style: 75px;
  font-weight: 900;
}

.productDesc {
  font-style: 24px;
  color: gray;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-style: 20px;
}

.size:hover {
  background-color: black;
  color: white;
  transition: all 0.3s ease;
}

.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.productButton:hover {
  background-color: white;
  color: black;
  transition: all 0.2s ease;
}

.productDesc {
  margin-bottom: 50px;
}

.gallery {
  padding: 50px;
  display: flex;
  /* background: #f7ff00; /* fallback for old browsers */
  /* background: -webkit-linear-gradient(
    to right,
    #db36a4,
    #f7ff00
  ); /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(
    to right,
    #db36a4,
    #f7ff00
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: url("https://images.unsplash.com/photo-1643655103538-dc44fff9b2a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80");
  background-size: cover;
}

.galleryTitle {
  font-size: 30px;
}

.galleryItem {
  flex: 1;
  padding: 50px;
}

.galleryImg {
  width: 100%;
}

.newSeason {
  display: flex;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsImg {
  width: 100%;
  height: auto;
}

.nsTitle {
  font-size: 40px;
}

.nsButton {
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

footer {
  display: flex;
  /* background-color: black; */
  background-color: #000000;
  background-image: linear-gradient(0deg, #000000 99.2%, #414141 100%);
  color: white;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 16px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 5px;
}

.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

.fIcons {
  display: flex;
  width: 40px;
  /* color: white; */
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.copyright {
  font-weight: 300;
  font-size: 14px;
  border-bottom: 2px solid green;
}

b {
  font-size: 20px;
  /* text-transform: uppercase; */
}

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }

  .navLogo {
    width: 130px;
  }

  .limitedOffer {
    font-size: 12px;
  }

  .search {
    display: none;
  }

  .navBottom {
    flex-wrap: wrap;
  }

  .menuItem {
    margin: 20px;
    font-weight: 700;
    font-size: 16px;
  }

  .slider {
    clip-path: none;
  }

  .sliderImg {
    width: 90%;
    /* background-size: cover; */
  }

  .sliderBg {
    width: 90%;
    height: 90%;
  }

  .sliderTitle {
    display: none;
  }

  .sliderPrice {
    top: unset;
    bottom: 0;
    left: 0;
    font-size: 30px;
    margin: 0;
    /* background-color: lightgrey; */
  }

  .buyButton {
    right: 0;
    top: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    margin-top: 10px;
    /* bottom: 0; */
  }

  .features {
    flex-direction: column;
  }

  .product {
    height: auto;
    margin-bottom: 10px;
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productImg {
    width: 80%;
  }

  .productDetails {
    width: 90%;
    height: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }

  .productTitle {
    font-size: 50px;
    margin: 0;
  }

  .gallery {
    display: none;
  }

  .newSeason {
    flex-direction: column;
  }

  .nsButton {
    padding: 5px;
    font-size: 12px;
  }

  .nsItem:nth-child(2) {
    padding: 50px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }

  .footerLeft {
    padding: 20px;
    width: 90%;
  }

  .footerRight {
    padding: 20px;
    width: 90%;
    align-items: center;
    text-align: center;
    /* background-color: whitesmoke; */
  }

  .footerRightMenu1 {
    margin-top: 20px;
    display: contents;
    margin-bottom: 20px;
  }

  .fIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .payment {
    width: 80%;
    padding: 20px;
  }
}
